html,body,div,ul,li,svg{
	margin:0;
	padding:0;
	list-style:none;
}

/*------------Global-------------*/
html,body{
	height: 100%;
	position: relative;
	background: rgb(242,244,233);
}

.container{
    height:100%;
}
.container .section{
	width:100%;
}
.container .canvas{
	width:100%;
	background: black;
	height:900px;
    position:relative;
}
.container .controls{
	margin-bottom:20px;
}

/*-----------tooltip-----------*/
.canvas .custom-tooltip{
    position:absolute;
	background-color: rgb(250,250,250);
    width:60px;
	height:50px;
    min-height:4px;
    padding:0px 0px px 0px;
	text-align: center;
	border-radius: 10px;
}

/*------------font-------------*/
body{
	font-size: 16px;
}
h1{ font-size:2em;}
h2{ font-size:1.1em;}
p{ font-size: .9em;}

.label{font-size: 10px;}

#HHincome{font-size:12px;}

.tooltipText{font-size:10px;}



/*------------svg--------------*/

